
*{
	box-sizing: border-box;
}

#about-box{
	margin-top: -2em;
	margin-left: 2em;
}


.header-row{
	margin-bottom: 1em;
}

.secondary-row{
	margin-bottom: .5em;
}

.thumbnail{
	padding-top: 10px;
}

img{
	max-height:10em;
	width: auto;
}